@import 'reset.css';


body{
    background-image:url("https://source.unsplash.com/category/nature");
    background-repeat: no-repeat;
    background-size : cover;
    background-position : center;
    background-attachment: fixed;
    height : 100vh;
    color : white;
    display : flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

main {
    flex : 1;
    display : flex;
    flex-direction: column;
    align-items : center; /*축*/
    justify-content: center; /*아이템*/
}

header{
    display : flex;
    justify-content: flex-end;
    font-size: 3em;
    font-weight : lighter; 
    margin : 0.5em;
}

.greeting{
    font-size : 3em;
}

.weather{
    font-size : 1.3em;
    margin : 1em;
}

.icon{
    margin-bottom: 0.5em;
    icon :  mdi-weather-rainy
}

input{
    outline :none;
    background : none;
    border : none;
    color : white;
    border-bottom : 0.2em white solid;
    font-size : 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 3em;
}